                        /*Below = css for Index.html*/  
body {
    font-family: "HelveticaNeue", "Arial", sans-serif;
  }
h2 { transition-property: 3s;
    font-size: 200%;
    color:black
}
                        /*Below = css for Tab_Data_Visual.html*/  
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 376px;
    margin-left:45px;
}
 
div.gallery:hover {
    border: 1px solid #ccc;
}
 
div.gallery img {
    width: 100%;
    height: auto;
}
 
div.desc {
    padding: 15px;
    text-align: center;
}

                        /* Below = css for graphs in Tab_Data_Visual */          
.myUnique{
    float: center; 
    padding: 0px;
    height: 30px;
    width: 30px;
}

                        /* How do I get the Graphs to line up Horizontaly? */ 
.graph {
    height: 30px;
    width: 30px;
    background-color: rgb(3, 59, 31);
    border-radius: 50%;
    display: inline-block;
}