body {
    font-family: "HelveticaNeue", "Arial", sans-serif;
  }
h2 { transition-property: 3s;
    font-size: 200%;
    color:black
}
 
.dot {
    height: 0px;
    width: 0px;
    background-color: rgb(23, 94, 90);
    border-radius: 50%;
    display: inline-block;
  }
 
.graph {
    height: 0px;
    width: 0px;
    background-color: rgb(3, 59, 31);
    border-radius: 50%;
    display: inline-block;
}
 
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 376px;
    margin-left:45px;
}
 
div.gallery:hover {
    border: 1px solid #ccc;
}
 
div.gallery img {
    width: 100%;
    height: auto;
}
 
div.desc {
    padding: 15px;
    text-align: center;
}